<div class="summary-item">


    <figure class="summary-item__figure">


        <img
            [src]="item.images[0]"
            alt="Product image">



        <figcaption class="summary-item__details">


            <span class="summary-item__name">
                {{ item.name }}
            </span>


        </figcaption>


    </figure>





    <div class="summary-item__meta">


        <div class="summary-item__quantity">

            <span class="summary-item__label">
                QTY
            </span>


            <span class="summary-item__value">
                {{ item.amount }}
            </span>


        </div>




        <span class="summary-item__price">

            {{ item.price | currency }}

        </span>



    </div>


</div>
