:root {
  --shadow-xs: 0 .1rem .2rem rgba(16,24,40,.04);
  --shadow-sm: 0 .2rem .8rem rgba(16,24,40,.06);
  --shadow-md: 0 .6rem 1.6rem rgba(16,24,40,.08);
  --shadow-lg: 0 1.2rem 3.2rem rgba(16,24,40,.10);


    // 06 ====  Shadows =======
  --box-shadow-light:  0rem 1rem  2rem rgba(0, 0, 0, 0.2);
  --box-shadow-light-medium: 0rem .5rem  1rem rgba(0, 0, 0, 0.2);
  --box-shadow-light-small:  0rem .25rem  1rem rgba(0, 0, 0, 0.07);

}
