:root {
  /* FONT FAMILY */
  --font-base: 'Inter', sans-serif;
  --font-heading: 'Poppins', sans-serif;

  /* FONT SIZE SCALE */
  --fs-xs: 0.8rem;
  --fs-sm: 1rem;
  --fs-base: 1.4rem;
  --fs-lg: 1.6rem;
  --fs-xl: 1.8rem;
  --fs-2xl: 2rem;
  --fs-3xl: 2.4rem;
  --fs-4xl: 3rem;
  --fs-5xl: 3.6rem;
  --fs-6xl: 4.4rem;
  --fs-7xl: 5.2rem;
  --fs-8xl: 6.2rem;

  /* FONT WEIGHT */
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}
