<section
    class="auth"
    >


    <div class="auth__card">


        <header class="auth__header">


            <span class="auth__badge">

                Account

            </span>



            <h1 class="heading-primary">

                {{ getCurrentAuthType }}

            </h1>



            <p class="auth__subtitle">

                Manage your account and continue your shopping experience.

            </p>


        </header>






        <div class="auth__body">


            <div class="auth__form">

                <app-auth-form
                    [authType]="authType()">
                </app-auth-form>


            </div>
            <div class="auth__actions">
                <app-button
                    variant="primary"
                    [fullWidth]="true"
                    type="button"
                    (click)="onSubmit()">

                    {{ getCurrentAuthType }}

                </app-button>
                <app-button
                    variant="primary"
                    [fullWidth]="true"
                    type="button"
                    (click)="onGuest()">

                    Continue as guest

                </app-button>
                <app-button
                    variant="outline"
                    [fullWidth]="true"
                    type="button"
                    (click)="onSwitch()">

                    Switch to {{ switchTo }}

                </app-button>
            </div>
        </div>
    </div>
</section>
