<header class="header">

    <section class="header__top">

        <div class="header__auth">

            <button
                class="header__auth-link"
                (click)="onSignUp()">

                Sign in

            </button>


            <span class="header__auth-divider"></span>


            <button
                class="header__auth-button"
                (click)="onRegister()">

                Create account

            </button>


        </div>

    </section>



    <nav class="header__nav">


        <a
            routerLink="/"
            class="header__logo">


            <ion-icon
                name="cube-outline">
            </ion-icon>


            <span>
                Housori
            </span>


        </a>



        <ul class="header__menu">


            <li *ngFor="let link of navLinks">


                <a
                    [routerLink]="link.path"
                    routerLinkActive="header__menu-link--active"
                    class="header__menu-link">


                    {{ link.label }}


                </a>


            </li>


        </ul>



        <div class="header__actions">


            <button
                class="header__cart"
                routerLink="/cart">


                <ion-icon
                    name="cart-outline">
                </ion-icon>


                <ion-badge>

                    {{ numItemInCart }}

                </ion-badge>


            </button>


        </div>


    </nav>


</header>

<router-outlet></router-outlet>
