<div class="about">

    <div class="about__container">


        <div class="about-content">


            <section class="about-content__text">


                <span class="about-badge">

                    Premium Furniture Experience

                </span>



                <h1 class="heading-primary">

                    About Housori

                </h1>



                <p class="about-description">

                    Welcome to Housori. We create a modern shopping experience
                    where quality furniture meets elegant design.

                    <br><br>

                    Our mission is to help you discover beautiful pieces
                    that transform your living spaces with comfort and style.

                </p>



                <div class="about-actions">

                  <app-button
                    (click)="onNavigate()"
                    variant="primary">
                     Explore Collection
                  </app-button>
                </div>


            </section>





            <section class="about-content__hero">


                <div class="hero-wrapper">

                    <img
                        loading="lazy"
                        [src]="aboutHero"
                        alt="Housori furniture">

                </div>


            </section>


        </div>


    </div>

</div>
