<form
    class="shipping-form"
    [formGroup]="shippingFields"
    (ngSubmit)="onPlaceOrder()">


    <div
        class="shipping-form__group"
        *ngFor="let field of fromFields">


        <label
            class="shipping-form__label">

            {{ field.label }}

        </label>



        <input
            class="shipping-form__input"
            [formControlName]="field.formControlName"
            [placeholder]="field.placeHolder" />


    </div>





    <div class="shipping-form__actions">


        <app-button
            [variant]="'primary'"
            type="submit">

            Place your order
        </app-button>

    </div>
</form>
