<header class="header">

    <section class="header__top">

        <div class="header-auth">

            <button
                class="header-auth__link"
                (click)="onSignUp()">

                Sign in

            </button>

            <span class="header-auth__divider"></span>

            <button
                class="header-auth__button"
                (click)="onRegister()">

                Create account

            </button>

        </div>

    </section>

    <nav class="header__nav">

        <a
            routerLink="/"
            class="header-logo">

            <ion-icon name="cube-outline"></ion-icon>

            <span>Housori</span>

        </a>

        <ul class="header-menu">

            <li *ngFor="let link of navLinks">

                <a
                    [routerLink]="link.path"
                    routerLinkActive="header-menu__link--active"
                    class="header-menu__link">

                    {{ link.label }}

                </a>

            </li>

        </ul>

        <div class="header-actions">

            <button
                class="header-actions__cart"
                routerLink="/cart">

                <ion-icon
                    name="cart-outline">

                </ion-icon>

                <ion-badge>

                    {{ numItemInCart }}

                </ion-badge>

            </button>

        </div>

    </nav>

</header>
