<div
    class="responsive-sidebar-overlay"
    *ngIf="isOpen"
    (click)="close()">
</div>




<aside
    class="responsive-sidebar"
    [class.responsive-sidebar--open]="isOpen">



    <header class="responsive-sidebar__header">


        <a
            routerLink="/"
            class="responsive-sidebar__logo"
            (click)="close()">


            <ion-icon
                name="cube-outline">
            </ion-icon>


            <span>
                Housori
            </span>


        </a>




        <button
            class="responsive-sidebar__close"
            type="button"
            (click)="close()">


            <ion-icon
                name="close-outline">
            </ion-icon>


        </button>


    </header>






    <nav class="responsive-sidebar__nav">


        <a
            *ngFor="let link of navLinks"

            [routerLink]="link.path"

            routerLinkActive="responsive-sidebar__link--active"

            class="responsive-sidebar__link"

            (click)="close()">



            {{ link.label }}



        </a>



    </nav>







    <footer class="responsive-sidebar__footer">


        <a
            routerLink="/cart"
            (click)="close()">



            <ion-icon
                name="cart-outline">
            </ion-icon>


            <span>
                Cart
            </span>



        </a>


    </footer>




</aside>
