<div class="items-item">

    <figure class="items-item__details">

        <img
            class="items-item__image"
            [src]="product.images[0]"
            alt="Product-img">


        <figcaption class="items-item__content">

            <p class="items-item__name">
                {{ product.name }}
            </p>


            <p class="items-item__company">
                {{ product.company }}
            </p>

        </figcaption>

    </figure>


    <section class="items-item__price">

        {{ product.price | currency }}

    </section>

</div>
